[general]
language = eng
fontsize = 11

[coord_picker]
lastposition = 45.472432704754446,9.189297008474796
lastzoom = 13
win_width = 889
win_height = 943

[tile_download]
osm_email = Your OpenStreetMap email
apikey = Get your API Key at www.thunderforest.com
zoom = 18
style = Mapnik (OSM)
savedir = T:\

